
    .card-admin {
        margin-top: 2vh;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px 6px rgb(182, 182, 182) !important;
        border-radius: 3px;
    }

    .backgroud-primary {
        background-color: rgb(8, 103, 57);
        color: rgb(255, 255, 255);
    }

    .container-data-table-widget {
        color: rgb(0, 0, 0);
        width: 95%;
        margin: 2vh 0 0 2.5%;
    }

    .backgroud-empty {
        background-color: transparent;
        border: rgb(0, 0, 0) 1px solid;
    }

    .card-body {
        padding: 0 1vw !important;
        display: flex;
        margin-top: 2vh;
    }

    .btn-manage {
        height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .column {
        margin-bottom: 4vh;
    }

    .container-textarea {
        height: 27.5%;
        width: 100%;

    }

    .description {
        width: 99%;
        height: 95%;
        max-height: 100%;
        border-radius: 0.25rem;
        padding: 1vw;
        margin-top: 2vh;
    }

    .container-date {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
    }

    .container-options,
    .container-etapa,
    .container-etapa span,
    .figure-etapa {
        display: flex;
    }

    .container-options {
        justify-content: space-between;
        width: 100%;
    }

    .item-selected{
        border: 0.5px solid rgb(0, 0, 0);
        border-radius: 0.2em;
        width: 46.5vw;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1vw;
        margin: 1vh 0 0 1vw;
        color: rgb(0, 0, 0);
    }

    #container-escola-name{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1vw;
    }


    .container-etapa {
        align-items: center;
        text-align: center;
    }

    .widget {
        box-shadow: 5px 5px 6px rgb(182, 182, 182) !important;
        position: absolute;
        height: 70vh;
        width: 50vw;
        background-color: rgb(255, 255, 255);
        top: 19vh;
        left: 30%;
        border: 0.5px solid rgb(0, 0, 0);
        border-radius: 0.2em;
        z-index: 999;
        color: rgb(255, 255, 255);
        padding: 0;
        overflow: scroll;

    }

    section .header {
        display: flex;
        width: 100%;
        height: 40px;
        background-color: rgb(8, 103, 57);
        border-radius: 0.2em 0.2em 0 0;
        align-items: center;
    }

    section .header h1 {
        font-size: 20px;
    }

    .btn-back:hover {
        background-color: rgb(255, 0, 0);
        color: rgb(255, 255, 255);
    }

    .hidden-ativo {
        display: none;
    }

    .btn-back-alergia {
        margin-top: 2vh;
        margin-left: 1vw;
    }

    #num-etapa {
        margin-left: 0.2vw;
    }

    .figure-circle {
        width: 20px;
        height: 20px;
        border: rgb(0, 0, 0) solid 2px;
        border-radius: 10px;
        margin-right: 1vw;

    }

    .circle-ativo {
        background-color: rgb(8, 103, 57);
    }

    .input-invalid {
        border-color: red;
        color: red;
    }

    .widget img {
        width: 1vw;
    }

    .widget .header {
        display: flex;
        justify-content: space-between;
        padding: 0 1.5vw;
    }

    .widget h1 {
        padding: 1vh 0 0 0;
    }

    .container-manage {
        color: rgb(0, 0, 0);
        display: flex;
        margin-top: 2vh;
        justify-content: space-between;
        padding: 0 1vw;
    }


    .main-sidebar{
        height: 100vh;
        position: fixed !important;;
    }

    div#escolas_filter, div#alergias_filter{
        padding: 0 0 0 6.5vw;
    }

    #alergias_paginate , #escolas_paginate{
        padding: 0 0 0 9vw;
    }

    